{% extends "aldryn_newsblog/base.html" %}

{% load i18n cms_tags staticfiles extra_cms_tags %}

{% block header_attributes %}
  <link rel="canonical" href="{{ ROOT_URL }}{{ request.path }}" />
{% endblock %}

{% block title %}
    {% if type_filter_active %}{{ type_filter_active.0 }}{% endif %}{% if category_filter_active %} | {{ category_filter_active.0 }}{% endif %} | {% page_attribute page_title %} | {{ request.site.name }}
{% endblock title %}

{% block meta %}
  {% include "aldryn_newsblog/includes/article_list/article_meta.html" %}
{% endblock meta %}

{% block ograph %}
  {% include "aldryn_newsblog/includes/article_list/article_ograph.html" %}
{% endblock ograph %}

{% block newsblog_content %}

  <article class="container">

    <header>
      {% include "aldryn_newsblog/includes/article_list/article_header.html" %}
    </header>

    <div class="row">

      <aside id="search" class="col-12">

        {% include "aldryn_newsblog/includes/article_list/search_form.html" %}

      </aside>

      <section id="main-content" class="col-8" role="main">

        <ul class="row">
          {% for article in article_list %}
              {% include "aldryn_newsblog/includes/article_list/article_item.html" %}
          {% empty %}
              {% trans "No items available" %}
          {% endfor %}
        </ul>

      </section>

      <aside id="sidebar" class="col-4" role="complementary" aria-label="Sidebar">
        {% include "aldryn_newsblog/includes/article_list/sidebar.html" %}
      </aside>

    </div>

    <footer>
      {% include "aldryn_newsblog/includes/article_list/pagination.html" %}
    </footer>

  </article>

{% endblock newsblog_content %}
