{% extends "aldryn_newsblog/base.html" %}

{% load i18n cms_tags static querystring_tags %}

{% block header_attributes %}
  <link rel="canonical" href="{{ ROOT_URL }}{{ request.path }}" />
{% endblock %}

{% block title %}
    {% page_attribute page_title as page_title %}
    {% display_choice filter.form.section as section %}
    {% firstof newsblog_service newsblog_author as articles_by %}
    {% firstof section page_title|capfirst %}{% if articles_by %} by {{ articles_by }}{% endif %}
    {% to_list filter.form.q filter.form.medium filter.form.location filter.form.company filter.form.service as selected %}
    {% if selected|if_value %}
        filtered by
        {% include "aldryn_newsblog/includes/article_list/search_title.html" with inputs=selected|if_value %}
    {% endif %}
{% endblock title %}

{% block meta %}
  {% include "aldryn_newsblog/includes/article_list/article_meta.html" %}
{% endblock meta %}

{% block ograph %}
  {% include "aldryn_newsblog/includes/article_list/article_ograph.html" %}
{% endblock ograph %}

{% block newsblog_content %}

  <article class="container">

    <header>
      <h1>
          {% page_attribute page_title as page_title %}
          {% display_choice filter.form.section as section %}
          {% firstof newsblog_service newsblog_author as articles_by %}
          {% firstof section page_title|capfirst %}{% if articles_by %} by {{ articles_by }}{% endif %}
          {% to_list filter.form.q filter.form.medium filter.form.location filter.form.company filter.form.service as selected %}
          {% if selected|if_value %}
              filtered by
              {% include "aldryn_newsblog/includes/article_list/search_title.html" with inputs=selected|if_value %}
          {% endif %}
      </h1>
    </header>

    <div class="row">

      <section id="main-content" class="col-8" role="main">

        <ul class="row">
          {% for article in article_list %}
              {% include "aldryn_newsblog/includes/article_list/article_item.html" %}
          {% empty %}
              {% trans "No items available" %}
          {% endfor %}
        </ul>

      </section>

      <aside id="sidebar" class="col-4" role="complementary" aria-label="Sidebar">
        {% include "aldryn_newsblog/includes/article_list/search_form.html" %}
      </aside>

    </div>

    <footer>
      {% include "aldryn_newsblog/includes/article_list/pagination.html" %}
    </footer>

  </article>

{% endblock newsblog_content %}
