{% load cms_tags %}

<h1>
  {% if split_path|length == 1 %}
    Resources
  {% endif %}
  {% if split_path|length >= 2 %}
    {% if type_filter_active.0 != 'all' %}
      {{ type_filter_active.0 }}{% if split_path|length >= 3 %},{% endif %}
    {% else %}
      All types{% if split_path|length >= 3 %},{% endif %}
    {% endif %}
  {% endif %}
  {% if split_path|length >= 3 %}
    {% if category_filter_active.0 != 'all' %}
      filtered by <a href="{% page_url 'topics' %}{{ split_path.2 }}/">{{ category_filter_active.0 }}</a>{% if split_path|length >= 4 %},{% endif %}
    {% else %}
      filtered by <a href="{% page_url 'topics' %}{{ split_path.2 }}/">All categories</a>{% if split_path|length >= 4 %},{% endif %}
    {% endif %}
  {% endif %}
</h1>
