{% load crispy_forms_field querystring_tags %}

{% if input %}

  <li>

    {% if input.value %}
      <div class="input-group read-only">
        <input type="text" class="form-control" value="{% display_choice input %}" readonly>
        <a href="?{% querystring_remove input.name %}" class="btn-clear" aria-label="Remove">
          <span aria-hidden="true">&times;</span>
        </a>
        <input type="hidden" name="{{ input.name }}" value="{{ input.value }}">
      </div>
    {% else %}
        {% crispy_field input %}
    {% endif %}

  </li>

{% endif %}
