{% load crispy_forms_field sekizai_tags %}

<form action="" id="articles-search-form">

  {% crispy_field filter.form.q 'class' 'form-control' %}

  <button type="submit">Search</button>

  <ul>
    {% if request.current_app == 'all-articles' %}
      {% include "aldryn_newsblog/includes/article_list/filter.html" with input=filter.form.section %}
    {% endif %}

    {% include "aldryn_newsblog/includes/article_list/filter.html" with input=filter.form.category %}

    {% include "aldryn_newsblog/includes/article_list/filter.html" with input=filter.form.medium %}

    {% include "aldryn_newsblog/includes/article_list/filter.html" with input=filter.form.service %}

    {% include "aldryn_newsblog/includes/article_list/filter.html" with input=filter.form.location %}
  </ul>

  {% if filter.form.q.value or filter.form.medium.value or filter.form.location.value or filter.form.company.value or filter.form.service.value or filter.form.section.value %}
    <a href="?">Reset search</a>
  {% endif %}

</form>

{% if filter.form.q.value %}
  <script>
    var dataLayer = window.dataLayer = window.dataLayer || [];
    dataLayer.push({
      "event": "event",
      "eventCategory": "Listing search",
      "eventAction": "Search",
      "eventLabel": "{{ filter.form.q.value }}"
    });
  </script>
{% endif %}

{% addtoblock "js" %}
  <script>
    $(function(){
      $('#articles-search-form select').change(function () {
          $('#articles-search-form').submit();
       });
    });
  </script>
{% endaddtoblock %}
