{% load i18n staticfiles thumbnail %}

<li>
  <article>

    {% if author.visual %}
      {% thumbnail author.visual "200x200" crop upscale subject_location=author.visual.subject_location as author_image %}
      <img src="{{ author_image.url }}" width="200" height="200" alt="{{ author.name }}">
    {% endif %}

    {% if author.second_visual %}
      {% thumbnail author.second_visual "200x200" crop upscale subject_location=author.second_visual.subject_location as second_author_image %}
      <img src="{{ second_author_image.url }}" width="200" height="200" alt="{{ author.name }}">
    {% endif %}

    <h3><a href="{{ author.get_absolute_url }}">{{ author.name }}</a></h3>

    <ul>
      <li>
        Metadata
        <ul>
          <li>first_name: {{ author.first_name }}</li>
          <li>last_name: {{ author.last_name }}</li>
          <li>suffix: {{ author.suffix }}</li>
          <li>function: {{ author.function }}</li>
          <li>description: {{ author.description }}</li>
        </ul>
       </li>
      <li>Contact
        <ul>
          <li>email: {{ author.email }}</li>
          <li>mobile: {{ author.mobile }}</li>
          <li>phone: {{ author.phone }}</li>
          <li>fax: {{ author.fax }}</li>
          <li>website: {{ author.website }}</li>
          <li>facebook: {{ author.facebook }}</li>
          <li>twitter: {{ author.twitter }}</li>
          <li>linkedin: {{ author.linkedin }}</li>
          <li>xing: {{ author.xing }}</li>
  		    <li>get_vcard_url: {{ author.get_vcard_url }}</li>
        </ul>
       </li>
      <li>
        Categorisation
        <ul>
          <li>{{ author.location }}</li>
          <li>Groups
            <ul>
              {% for group in author.groups.all %}
                <li>{{ group }}</li>
              {% endfor %}
            </ul>
          </li>
          <li>Categories
            <ul>
              {% for category in author.categories.all %}
                <li>{{ category }}</li>
              {% endfor %}
            </ul>
          </li>
          <li>Serices
            <ul>
              {% for service in author.services.all %}
                <li>{{ service }}</li>
              {% endfor %}
            </ul>
          </li>
        </ul>
       </li>
    </ul>

  </article>
</li>
