{% load i18n apphooks_config_tags cms_tags sekizai_tags staticfiles thumbnail %}

<li class="col-sm-12 col-md-6 {{ article.type_slug|lower }}">

  {% if article.featured_image %}
    {% thumbnail article.featured_image "370x223" crop="center" as im %}
    <a href="{{ article.get_absolute_url }}" style="background-image:url({{ im.url }});">
  {% else %}
    <a href="{{ article.get_absolute_url }}">
  {% endif %}

    <h4>{{ article.title }}</h4>

    {% if article.lead_in %}
      <p>{{ article.lead_in|striptags|safe|truncatechars:165 }}</p>
    {% endif %}

  </a>
</li>
