{% load i18n apphooks_config_tags cms_tags sekizai_tags staticfiles thumbnail %}

{% page_attribute "slug" as slug %}

<article class="aldryn-newsblog-article{% if article.is_featured %} aldryn-newsblog-featured{% endif %}{% if not article.published %} unpublished{% endif %}{% if article.future %} future{% endif %}">

  {% if article.featured_image_id and slug != "how-to" and slug != "guides" %}
    <header class="image" style="background-image:url({% thumbnail article.featured_image 1190x500 crop subject_location=article.featured_image.subject_location %});">
  {% else %}
    <header>
  {% endif %}

    <p class="section-title" title="{{ slug }}">{{ slug }}</p>

    <h1>{% render_model article "title" %}</h1>

  </header>

    {% render_placeholder article.carousel %}

    {% if slug != "how-to" and slug != "guides" %}
      {% include "aldryn_newsblog/includes/author-top.html" with author=article.author %}
    {% endif %}

    {% render_placeholder article.content language placeholder_language %}

    {% if article.author or article.author_2 or article.author_3 %}
    <div class="meta-bottom">
      <div class="row">
        <div class="col-sm-12">
          {% if article.author and article.author_2 or article.author and article.author_3 or article.author_2 and article.author_3 %}
            <h3>Contact our experts</h3>
          {% else %}
            <h3>Contact our expert</h3>
          {% endif %}
        </div>
      </div>
      {% if article.author %}
        {% include "aldryn_newsblog/includes/author-bottom.html" with author=article.author %}
      {% endif %}
      {% if article.author_2 %}
        {% include "aldryn_newsblog/includes/author-bottom.html" with author=article.author_2 %}
      {% endif %}
      {% if article.author_3 %}
        {% include "aldryn_newsblog/includes/author-bottom.html" with author=article.author_3 %}
      {% endif %}
    </div>
    {% endif %}

    <div class="related-articles cols-layout">
      <h3>Related articles</h3>
      {% page_url 'related_articles' as apphook_id %}
      {% if apphook_id %}
        {# <a href="{{ apphook_id }}{{ related_types_first|lower|slugify }}/{{ related_categories_first|lower|slugify }}" class="btn btn-info">See all</a>#}
        {# <a href="{{ apphook_id }}{{ related_types_first|lower|slugify }}" class="btn btn-info">See all</a>#}
        <a href="{{ apphook_id }}all/{{ related_categories_first|lower|slugify }}" class="btn btn-info">See all</a>
      {% endif %}
      <ul class="row">
        {% for article in related_articles %}
          <li class="col-md-4">

            <a href="{{ article.get_absolute_url }}">

              {% if article.featured_image %}
                {% thumbnail article.featured_image "500x300" crop="center" as im %}
                <img src="{{ im.url }}">
              {% endif %}

              <h4>{{ article.title }}</h4>

              {% if article.lead_in %}
                <p>{{ article.lead_in|striptags|safe }}</p>
              {% endif %}

            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    {% render_placeholder article.related_articles %}

    <!--

    <div class="container related-articles services">
      <h3>Related services</h3>
      <a href="#" class="btn btn-info">See all</a>
      <ul class="row">
        <li class="col-md-4" style="background-image:url('http://127.0.0.1:8000/media/filer_public/5d/a7/5da7813e-c6b0-4404-a0f4-d483a0b03fde/service-1.png');">
          <h4>Employment Law</h4>
          <p>An interactive case law roundup reviewing developments in the preceding six months. Vestibulum id ligula porta felis euismod semper.</p>
        </li>
        <li class="col-md-4" style="background-image:url('http://127.0.0.1:8000/media/filer_public/8c/60/8c609691-c228-48e4-8726-9f5d582a28ca/service-2.png');">
          <h4>Preventing Sexual Harrassment</h4>
          <p>Preventing Sexual Harrassment</p>
        </li>
        <li class="col-md-4" style="background-image:url('http://127.0.0.1:8000/media/filer_public/ea/37/ea37eaf9-d777-476b-a97e-af3e3388c55b/service-3.png');">
          <h4>Employment Tribunal Training</h4>
          <p>This course will fully prepare you to either give evidence as a witness at an Employment Tribunal. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod.</p>
        </li>
      </ul>
    </div>

  -->

</article>
