{% load i18n cms_tags sekizai_tags %}

{% if split_path|length == 1 %}

    <h3>Type:</h3>
    <ul>
        <li><a href="/{{ split_path.0 }}">Any</a></li>
        {% for item in type_filter_list %}
            <li><a href="/{{ split_path.0 }}/{{ item.namespace|lower|slugify }}">{{ item }}</a></li>
        {% endfor %}
    </ul>

    <h3>Category:</h3>
    <ul>
        <li><a href="/{{ split_path.0 }}/all">Any</a></li>
        {% for item in category_filter_list %}
            <li><a href="/{{ split_path.0 }}/all/{{ item|lower|slugify }}">{{ item }}</a></li>
        {% endfor %}
    </ul>

    <h3>Author:</h3>
    <ul>
        <li><a href="/{{ split_path.0 }}/all/all">Any</a></li>
        {% for item in author_filter_list %}
            <li><a href="/{{ split_path.0 }}/all/all/{{ item|lower|slugify }}">{{ item }}</a></li>
        {% endfor %}
    </ul>

{% elif split_path|length == 2 %}

    <h3>Type:</h3>
    <ul>
        <li><a href="/{{ split_path.0 }}">Any</a></li>
        {% for item in type_filter_list %}
            <li><a href="/{{ split_path.0 }}/{{ item.namespace|lower|slugify }}">{{ item }}</a></li>
        {% endfor %}
    </ul>

    <h3>Category:</h3>
    <ul>
        <li><a href="/{{ split_path.0 }}/{{ split_path.1|slugify }}">Any</a></li>
        {% for item in category_filter_list %}
            <li><a href="/{{ split_path.0 }}/{{ split_path.1|slugify }}/{{ item|lower|slugify }}">{{ item }}</a></li>
        {% endfor %}
    </ul>

    <h3>Author:</h3>
    <ul>
        <li><a href="/{{ split_path.0 }}/{{ split_path.1|slugify }}/all">Any</a></li>
        {% for item in author_filter_list %}
            <li><a href="/{{ split_path.0 }}/{{ split_path.1|slugify }}/all/{{ item|lower|slugify }}">{{ item }}</a></li>
        {% endfor %}
    </ul>

{% elif split_path|length == 3 %}

    <h3>Type:</h3>
    <ul>
        <li><a href="/{{ split_path.0 }}/all/{{ split_path.2|slugify }}">Any</a></li>
        {% for item in type_filter_list %}
            <li><a href="/{{ split_path.0 }}/{{ item.namespace|lower|slugify }}/{{ split_path.2|slugify }}">{{ item }}</a></li>
        {% endfor %}
    </ul>

    <h3>Category:</h3>
    <ul>
        <li><a href="/{{ split_path.0 }}/{{ split_path.1|slugify }}">Any</a></li>
        {% for item in category_filter_list %}
            <li><a href="/{{ split_path.0 }}/{{ split_path.1|slugify }}/{{ item|lower|slugify }}">{{ item }}</a></li>
        {% endfor %}
    </ul>

    <h3>Author:</h3>
    <ul>
        <li><a href="/{{ split_path.0 }}/{{ split_path.1|slugify }}/{{ split_path.2|slugify }}">Any</a></li>
        {% for item in author_filter_list %}
            <li><a href="/{{ split_path.0 }}/{{ split_path.1|slugify }}/{{ split_path.2|slugify }}/{{ item|lower|slugify }}">{{ item }}</a></li>
        {% endfor %}
    </ul>

{% elif split_path|length >= 4 %}

    <h3>Type:</h3>
    <ul>
        <li><a href="/{{ split_path.0 }}/all/{{ split_path.2|slugify }}/{{ split_path.3|slugify }}">Any</a></li>
        {% for item in type_filter_list %}
            <li><a href="/{{ split_path.0 }}/{{ item.namespace|lower|slugify }}/{{ split_path.2|slugify }}/{{ split_path.3|slugify }}">{{ item }}</a></li>
        {% endfor %}
    </ul>

    <h3>Category:</h3>
    <ul>
        <li><a href="/{{ split_path.0 }}/{{ split_path.1|slugify }}/all/{{ split_path.3|slugify }}">Any</a></li>
        {% for item in category_filter_list %}
            <li><a href="/{{ split_path.0 }}/{{ split_path.1|slugify }}/{{ item|lower|slugify }}/{{ split_path.3|slugify }}">{{ item }}</a></li>
        {% endfor %}
    </ul>

    <h3>Author:</h3>
    <ul>
        <li><a href="/{{ split_path.0 }}/{{ split_path.1|slugify }}/{{ split_path.2|slugify }}">Any</a></li>
        {% for item in author_filter_list %}
            <li><a href="/{{ split_path.0 }}/{{ split_path.1|slugify }}/{{ split_path.2|slugify }}/{{ item|lower|slugify }}">{{ item }}</a></li>
        {% endfor %}
    </ul>

{% endif %}
